workflow_3.json
{
  "name": "Assignment 2",
  "nodes": [
    {
      "parameters": {
        "formTitle": "LinkedIn Leads Generator",
        "formDescription": "Insert an audience you want to target to generate lead from.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Describe your audience.",
              "fieldType": "textarea",
              "placeholder": "Company Type, location, company size, amount of leads you want to generate",
              "requiredField": true
            },
            {
              "fieldLabel": "Describe what your company is all about and what you does",
              "fieldType": "textarea",
              "placeholder": "Describe about your company, what your company do ",
              "requiredField": true
            },
            {
              "fieldLabel": "Your name",
              "fieldType": "textarea",
              "placeholder": "Please Enter your name",
              "requiredField": true
            },
            {
              "fieldLabel": "Enter your role in your company or the role of the person through which you want to send email",
              "fieldType": "textarea",
              "placeholder": "Enter your role or the person who want's to send email",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -208,
        -128
      ],
      "id": "e478d0b9-9d5a-4e7f-8d02-8373a49fca08",
      "name": "On form submission",
      "webhookId": "da239486-6e8a-4ed0-8995-77560c79f698"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json[\"Describe your audience.\"] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful, intelligent sales assistant\n\nYour task it to take as input a natural language description of a prospect audience, and turn that into a Apollo Search URL.\n\nHere is an example of Apollo Search URL:\n\nhttps://app.apollo.io/#/people?sortAscending=false&sortByField=recommendations_score&personLocations[]=United%20States&organizationNumEmployeesRanges[]=51%2C100&organizationIndustryTagIds[]=5567cd4773696439b10b0000&organizationIndustryTagIds[]=5567cd4773696439dd350000&organizationIndustryTagIds[]=5567cd477369645401010000&organizationIndustryTagIds[]=5567ce1f7369643b78570000&personTitles[]=partner&personTitles[]=owner&personTitles[]=ceo&personTitles[]=founder&personTitles[]=cto&page=1&qKeywords=creative%20agency\n\nThis URL describes a search for the people that are:\n- Located in United States\n- Hold the titles: partner, ceo, owner, founder, cto\n- The companies these people work at have between 51 and 100 employees.\n- Have a keyword association with \"creative agency\".\n\nThese are fields you can change:\n\npersonLocations[], organizationNumEmployeesRanges[],\npersonTitles[],\nqKeywords\n\nDo not add or change any other fields. Use the above template.\n\nReturn your response in JSON format.\n\n{\n \"searchUrl\":\"search url goes here\",\n \"userInputLeadLimit\":\"lead limit input goes here\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        0,
        -128
      ],
      "id": "a2244a2d-cade-4b7c-a0e8-b657ae4552c5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -144,
        80
      ],
      "id": "e95f1366-76e1-4a09-bae6-37d2c9265a2b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "m5t6NFjw3r6uJjD2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"searchUrl\":\"string\",\n  \"limit\":\"number\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        176,
        80
      ],
      "id": "4d805fe8-01af-4d61-92ac-613d664c1f37",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/iJcISG5H8FJUSRoVA/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contact_email_exclude_catch_all\": true,\n  \"contact_email_status_v2_verified\": true,\n  \"include_email\": true,\n  \"max_result\": {{ $json.output.userInputLeadLimit }},\n  \"url\": \"{{ $json.output.searchUrl }}\"\n} ",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        -128
      ],
      "id": "be655b06-6fe7-48d6-8a05-9aee0dddd2b5",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "31SzXZDP7nxAH9ow",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1kXYlWPvhIqjVitSY726iH7jTNpkxPpiM066pzI0bc4Q",
          "mode": "list",
          "cachedResultName": "Leads Gen",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kXYlWPvhIqjVitSY726iH7jTNpkxPpiM066pzI0bc4Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kXYlWPvhIqjVitSY726iH7jTNpkxPpiM066pzI0bc4Q/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_status",
              "displayName": "email_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "photo_url",
              "displayName": "photo_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "twitter_url",
              "displayName": "twitter_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "github_url",
              "displayName": "github_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "facebook_url",
              "displayName": "facebook_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "extrapolated_email_confidence",
              "displayName": "extrapolated_email_confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "headline",
              "displayName": "headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "organization_id",
              "displayName": "organization_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "employment_history",
              "displayName": "employment_history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "organization",
              "displayName": "organization",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "departments",
              "displayName": "departments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subdepartments",
              "displayName": "subdepartments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "seniority",
              "displayName": "seniority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "functions",
              "displayName": "functions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "intent_strength",
              "displayName": "intent_strength",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "show_intent",
              "displayName": "show_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_domain_catchall",
              "displayName": "email_domain_catchall",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "revealed_for_current_team",
              "displayName": "revealed_for_current_team",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        592,
        -128
      ],
      "id": "d9efbb1a-c75e-49a5-8863-6ec10b8a9394",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ANKiAbRxEXSR3WJI",
          "name": "2005mail"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Append row in sheet').item.json.email }}",
        "subject": "={{ $json.output.subjectLine }}",
        "message": "={{ $json.output.HTMLFormatEmail }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1392,
        -128
      ],
      "id": "8acaa1d2-d1b3-4557-af05-06580679ad85",
      "name": "Send a message",
      "webhookId": "f82b8dfc-4320-42aa-8b43-fa65125ed329",
      "credentials": {
        "gmailOAuth2": {
          "id": "kDEN1ffd8HhrG7qu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=first_name: {{ $json.first_name }}\nlast_name: {{ $json.last_name }}\nheadline: {{ $json.headline }}\nemployment_history: {{ $json.employment_history }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a helpful, intelligent email writer\n\nYour task is to draft a personalised email for the peoples \nTheir first name , last name and all other necessary details will be given to you\n\nYour task is to generate a subject line, and HTML format email\n\nYou will be given with\nfirst_name:  {{ $json.first_name }}\nlast_name: {{ $json.last_name }}\nname: {{ $json.name }}\nemployment_history: {{ $json.employment_history }}\nheadline: {{ $json.headline }}\n\nYour task is to take the user's name, employment_history and their headline and generate a personalised email with a personlised subject line \n\nThe email is being send in order to generate client for our B2B saas to create e email according to that\n\nIn the end of the email add my email signatures\n\nBest Regards,\nLomash Choudhary\n\nOutput format should be a json and it should follow this output:\n{\n\"subjectLine\":\"subject line\",\n\"HTMLFormatEmail\": \"Email Format Email\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1008,
        -128
      ],
      "id": "f11b56aa-39df-490d-b569-c5520b478297",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"subjectLine\":\"string\",\n  \"HTMLFormatEmail\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1200,
        80
      ],
      "id": "05b9bad8-e0ed-4671-9866-a4c92086b01c",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        864,
        80
      ],
      "id": "9e510180-49f0-424c-8ad7-284ec5d69fd8",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "m5t6NFjw3r6uJjD2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1kXYlWPvhIqjVitSY726iH7jTNpkxPpiM066pzI0bc4Q",
          "mode": "list",
          "cachedResultName": "Leads Gen",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kXYlWPvhIqjVitSY726iH7jTNpkxPpiM066pzI0bc4Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kXYlWPvhIqjVitSY726iH7jTNpkxPpiM066pzI0bc4Q/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "linkedin_url": "={{ $('Append row in sheet').item.json.linkedin_url }}",
            "Email Sent": "EMAIL SENT SUCCESSFULLY"
          },
          "matchingColumns": [
            "linkedin_url"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_status",
              "displayName": "email_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "photo_url",
              "displayName": "photo_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "twitter_url",
              "displayName": "twitter_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "github_url",
              "displayName": "github_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "facebook_url",
              "displayName": "facebook_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "extrapolated_email_confidence",
              "displayName": "extrapolated_email_confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "headline",
              "displayName": "headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "organization_id",
              "displayName": "organization_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "employment_history",
              "displayName": "employment_history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "organization",
              "displayName": "organization",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "departments",
              "displayName": "departments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "subdepartments",
              "displayName": "subdepartments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "seniority",
              "displayName": "seniority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "functions",
              "displayName": "functions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Sent",
              "displayName": "Email Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "intent_strength",
              "displayName": "intent_strength",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "show_intent",
              "displayName": "show_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_domain_catchall",
              "displayName": "email_domain_catchall",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "revealed_for_current_team",
              "displayName": "revealed_for_current_team",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1600,
        -128
      ],
      "id": "24c77dd1-bde9-410d-add6-b3a3bdfc61a7",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ANKiAbRxEXSR3WJI",
          "name": "2005mail"
        }
      }
    },
    {
      "parameters": {
        "content": "⁠ Workflow 3: Capture new leads from LinkedIn, extract their details (name, email, phone number, designation), and store them in a structured format.\nAutomatically send a welcome email to generated leads and notify the internal team about each new lead.\n\nUse-case Examples:\nRecruiters: Auto-collect LinkedIn candidate data and alert HR\nSales Teams: Capture leads, send intro emails, and notify sales reps\n",
        "height": 640,
        "width": 1952
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -432,
        -1184
      ],
      "typeVersion": 1,
      "id": "55304e32-0fab-4b6a-a86e-f8c3d64487eb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sendTo": "lomashchoudhary9812@gmail.com",
        "subject": "New Lead Found and added in the sheet",
        "message": "=<!DOCTYPE html>\n<html>\n  <head>\n    <style>\n      .container {\n        font-family: Arial, sans-serif;\n        background-color: #f7f7f7;\n        padding: 20px;\n        border-radius: 8px;\n        max-width: 600px;\n        margin: auto;\n        color: #333;\n      }\n      .header {\n        font-size: 20px;\n        font-weight: bold;\n        color: #2b6cb0;\n        margin-bottom: 10px;\n      }\n      .info {\n        background-color: #ffffff;\n        padding: 15px;\n        border-radius: 6px;\n        box-shadow: 0 0 5px rgba(0,0,0,0.1);\n      }\n      .info p {\n        margin: 8px 0;\n        line-height: 1.5;\n      }\n      .highlight {\n        font-weight: bold;\n        color: #1a202c;\n      }\n    </style>\n  </head>\n  <body>\n    <div class=\"container\">\n      <div class=\"header\">🚀 New Lead Found</div>\n      <div class=\"info\">\n        <p><span class=\"highlight\">Name:</span> {{ $json.name }} </p>\n        <p><span class=\"highlight\">Email:</span> {{ $json.email }} </p>\n        <p><span class=\"highlight\">Title:</span> {{ $json.headline }} </p>\n        <p><span class=\"highlight\">Location:</span> {{ $json.country }} </p>\n      </div>\n    </div>\n  </body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        800,
        -128
      ],
      "id": "9dca607f-02c6-4c2c-87c8-8db6f71c25ec",
      "name": "Send a message1",
      "webhookId": "6431267f-465a-45e9-ab1c-03b63e290339",
      "credentials": {
        "gmailOAuth2": {
          "id": "kDEN1ffd8HhrG7qu",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Describe your audience.": "I want to generate 3 leads from a creative agency company located in US and canada with a company size of around 10-50.",
          "Describe what your company is all about and what you does": "I run A B2B saas where we create automations for the Companies to automate their work",
          "Your name": "Peter Briskey",
          "Enter your role in your company or the role of the person through which you want to send email": "Sales Head",
          "submittedAt": "2025-07-21T16:38:13.863+05:30",
          "formMode": "test"
        }
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": {
            "userRole": "Sales Head",
            "userInputLeadLimit": "3",
            "username": "Peter Briskey",
            "userCompanyDetails": "Peter Briskey runs a B2B SaaS company that specializes in creating automation solutions to streamline various work processes for businesses.",
            "searchUrl": "https://app.apollo.io/#/people?sortAscending=false&sortByField=recommendations_score&personLocations[]=United%20States&personLocations[]=Canada&organizationNumEmployeesRanges[]=11%2C50&page=1&qKeywords=creative%20agency"
          }
        }
      }
    ],
    "HTTP Request": [
      {
        "json": {
          "id": "66f53625628db100014daac2",
          "first_name": "Paul",
          "last_name": "Ferradas",
          "name": "Paul Ferradas",
          "linkedin_url": "http://www.linkedin.com/in/paul-ferradas-4155184",
          "title": "Creative Director",
          "email_status": "verified",
          "photo_url": "https://media.licdn.com/dms/image/v2/C5603AQHONHw5mlGi-A/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1562086508400?e=2147483647&v=beta&t=nqBCeXW1ak1YFiHaKyBztczE_wvBhaGsmwvxsLPyrC8",
          "twitter_url": null,
          "github_url": null,
          "facebook_url": null,
          "extrapolated_email_confidence": null,
          "headline": "Creative Director",
          "email": "paul@agencyblink.com",
          "organization_id": "54a1b7ee74686949e75bd40a",
          "employment_history": [
            {
              "_id": "6879f521a2df720001d73433",
              "created_at": null,
              "current": true,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": null,
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a1b7ee74686949e75bd40a",
              "organization_name": "Blink Creative Agency",
              "raw_address": null,
              "start_date": "2017-08-01",
              "title": "Creative Director",
              "updated_at": null,
              "id": "6879f521a2df720001d73433",
              "key": "6879f521a2df720001d73433"
            },
            {
              "_id": "6879f521a2df720001d73434",
              "created_at": null,
              "current": true,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": null,
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a1b7ee74686949e75bd40a",
              "organization_name": "Blink Creative Agency",
              "raw_address": null,
              "start_date": "2017-01-01",
              "title": "Studio Manager",
              "updated_at": null,
              "id": "6879f521a2df720001d73434",
              "key": "6879f521a2df720001d73434"
            },
            {
              "_id": "6879f521a2df720001d73435",
              "created_at": null,
              "current": true,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": null,
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a12a5769702d8cfc3b3b02",
              "organization_name": "Ferradas Photography",
              "raw_address": null,
              "start_date": "2006-01-01",
              "title": "Photographer + Cinematographer",
              "updated_at": null,
              "id": "6879f521a2df720001d73435",
              "key": "6879f521a2df720001d73435"
            },
            {
              "_id": "6879f521a2df720001d73436",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2008-12-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": null,
              "organization_name": "ShoreTel Inc",
              "raw_address": null,
              "start_date": "2006-06-01",
              "title": "Customer Satisfaction Program Administrator",
              "updated_at": null,
              "id": "6879f521a2df720001d73436",
              "key": "6879f521a2df720001d73436"
            },
            {
              "_id": "6879f521a2df720001d73437",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2006-06-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": null,
              "organization_name": "Office Team",
              "raw_address": null,
              "start_date": "2006-01-01",
              "title": "Contractor",
              "updated_at": null,
              "id": "6879f521a2df720001d73437",
              "key": "6879f521a2df720001d73437"
            },
            {
              "_id": "6879f521a2df720001d73438",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2002-01-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "559201a173696419355a1500",
              "organization_name": "ACM Aviation",
              "raw_address": null,
              "start_date": "2000-01-01",
              "title": "Ramp Agent",
              "updated_at": null,
              "id": "6879f521a2df720001d73438",
              "key": "6879f521a2df720001d73438"
            },
            {
              "_id": "6879f521a2df720001d73439",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2002-01-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": null,
              "organization_name": "Hewlett-Packard / Agilent Technologies",
              "raw_address": null,
              "start_date": "1998-01-01",
              "title": "Human Resources Representative",
              "updated_at": null,
              "id": "6879f521a2df720001d73439",
              "key": "6879f521a2df720001d73439"
            },
            {
              "_id": "6879f521a2df720001d7343a",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "1998-01-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": null,
              "organization_name": "Storm Technology",
              "raw_address": null,
              "start_date": "1997-01-01",
              "title": "Technical Support Representative",
              "updated_at": null,
              "id": "6879f521a2df720001d7343a",
              "key": "6879f521a2df720001d7343a"
            },
            {
              "_id": "6879f521a2df720001d7343b",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "1997-01-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a1206a69702d9a8b7a8402",
              "organization_name": "Alaska Airlines",
              "raw_address": null,
              "start_date": "1996-01-01",
              "title": "Flight Operations Agent",
              "updated_at": null,
              "id": "6879f521a2df720001d7343b",
              "key": "6879f521a2df720001d7343b"
            },
            {
              "_id": "6879f521a2df720001d7343c",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "1985-01-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": null,
              "organization_name": "Bay Area Tech Workers",
              "raw_address": null,
              "start_date": "1985-01-01",
              "title": "Contract",
              "updated_at": null,
              "id": "6879f521a2df720001d7343c",
              "key": "6879f521a2df720001d7343c"
            }
          ],
          "state": "California",
          "city": "San Jose",
          "country": "United States",
          "organization": {
            "id": "54a1b7ee74686949e75bd40a",
            "name": "Blink Creative Agency",
            "website_url": "http://www.agencyblink.com",
            "blog_url": null,
            "angellist_url": null,
            "linkedin_url": "http://www.linkedin.com/company/agencyblink",
            "twitter_url": null,
            "facebook_url": "https://www.facebook.com/AgencyBlink/",
            "primary_phone": {
              "number": "+1 604-630-4960",
              "source": "Owler",
              "sanitized_number": "+16046304960"
            },
            "languages": [
              "English"
            ],
            "alexa_ranking": null,
            "phone": "+1 604-630-4960",
            "linkedin_uid": "80194",
            "founded_year": 2006,
            "publicly_traded_symbol": null,
            "publicly_traded_exchange": null,
            "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/6866be0e5caf6b0001c3e79c/picture",
            "crunchbase_url": null,
            "primary_domain": "agencyblink.com",
            "sic_codes": [
              "7311"
            ],
            "naics_codes": [
              "54181"
            ],
            "sanitized_phone": "+16046304960",
            "organization_headcount_six_month_growth": -0.03225806451612903,
            "organization_headcount_twelve_month_growth": -0.03225806451612903,
            "organization_headcount_twenty_four_month_growth": 0
          },
          "departments": [
            "design"
          ],
          "subdepartments": [
            "all_design"
          ],
          "seniority": "director",
          "functions": [],
          "intent_strength": null,
          "show_intent": true,
          "email_domain_catchall": false,
          "revealed_for_current_team": true
        }
      },
      {
        "json": {
          "id": "60c4becd5ebe51000140927a",
          "first_name": "Cameron",
          "last_name": "King",
          "name": "Cameron King",
          "linkedin_url": "http://www.linkedin.com/in/cameron-king-09389964",
          "title": "Vice President Creative",
          "email_status": "verified",
          "photo_url": "https://media.licdn.com/dms/image/v2/C5603AQGyGgmVZhm60g/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1517603455417?e=2147483647&v=beta&t=La9DmTE3_-0hL5GEaHbrZxkE1SzTHio1J7THdqhPR0M",
          "twitter_url": null,
          "github_url": null,
          "facebook_url": null,
          "extrapolated_email_confidence": null,
          "headline": "Vice President Creative",
          "email": "cking@caseagency.com",
          "organization_id": "54a129c269702dc128b58701",
          "employment_history": [
            {
              "_id": "687bc4d5419df00001a22632",
              "created_at": null,
              "current": true,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": null,
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "55e8b9c3f3e5bb17060002ce",
              "organization_name": "AIGA New York",
              "raw_address": null,
              "start_date": "2023-06-01",
              "title": "Board Member",
              "updated_at": null,
              "id": "687bc4d5419df00001a22632",
              "key": "687bc4d5419df00001a22632"
            },
            {
              "_id": "687bc4d5419df00001a22633",
              "created_at": null,
              "current": true,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": null,
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a129c269702dc128b58701",
              "organization_name": "Case Agency",
              "raw_address": null,
              "start_date": "2018-07-01",
              "title": "Vice President Creative",
              "updated_at": null,
              "id": "687bc4d5419df00001a22633",
              "key": "687bc4d5419df00001a22633"
            },
            {
              "_id": "687bc4d5419df00001a22634",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2018-07-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a129c269702dc128b58701",
              "organization_name": "Case Agency",
              "raw_address": null,
              "start_date": "2010-01-01",
              "title": "Associate Creative Director",
              "updated_at": null,
              "id": "687bc4d5419df00001a22634",
              "key": "687bc4d5419df00001a22634"
            },
            {
              "_id": "687bc4d5419df00001a22635",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2010-01-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a129c269702dc128b58701",
              "organization_name": "Case Agency",
              "raw_address": null,
              "start_date": "2007-06-01",
              "title": "Art Director",
              "updated_at": null,
              "id": "687bc4d5419df00001a22635",
              "key": "687bc4d5419df00001a22635"
            },
            {
              "_id": "687bc4d5419df00001a22636",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2007-06-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a1297069702d9ebcce7801",
              "organization_name": "Martha Stewart Living Omnimedia",
              "raw_address": null,
              "start_date": "2005-07-01",
              "title": "Associate Art Director",
              "updated_at": null,
              "id": "687bc4d5419df00001a22636",
              "key": "687bc4d5419df00001a22636"
            }
          ],
          "state": "New York",
          "city": "New York",
          "country": "United States",
          "organization": {
            "id": "54a129c269702dc128b58701",
            "name": "CASE Agency",
            "website_url": "http://www.caseagency.com",
            "blog_url": null,
            "angellist_url": null,
            "linkedin_url": "http://www.linkedin.com/company/caseagency",
            "twitter_url": "https://twitter.com/case_agency",
            "facebook_url": "https://facebook.com/caseagencynyc",
            "primary_phone": {
              "number": "+1 212-699-1842",
              "source": "Scraped",
              "sanitized_number": "+12126991842"
            },
            "languages": [
              "English"
            ],
            "alexa_ranking": null,
            "phone": "+1 212-699-1842",
            "linkedin_uid": "2876798",
            "founded_year": 2004,
            "publicly_traded_symbol": null,
            "publicly_traded_exchange": null,
            "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/686f949fb9719c0001c46b6d/picture",
            "crunchbase_url": null,
            "primary_domain": "caseagency.com",
            "sic_codes": [
              "7311"
            ],
            "naics_codes": [
              "54181"
            ],
            "sanitized_phone": "+12126991842",
            "organization_headcount_six_month_growth": 0.1621621621621622,
            "organization_headcount_twelve_month_growth": 0,
            "organization_headcount_twenty_four_month_growth": -0.0851063829787234
          },
          "departments": [
            "design"
          ],
          "subdepartments": [
            "all_design"
          ],
          "seniority": "vp",
          "functions": [],
          "intent_strength": null,
          "show_intent": true,
          "email_domain_catchall": false,
          "revealed_for_current_team": true
        }
      },
      {
        "json": {
          "id": "5fe8b43d63b5e60001b76a98",
          "first_name": "Sloane",
          "last_name": "Polisner",
          "name": "Sloane Polisner",
          "linkedin_url": "http://www.linkedin.com/in/sloane-polisner-6990a51a3",
          "title": "Agency Coordinator",
          "email_status": "verified",
          "photo_url": "https://media.licdn.com/dms/image/v2/D5603AQERdl1Z243-_Q/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1729193817417?e=2147483647&v=beta&t=C3Brp3p9w2GoqFs1yIG9LOMQub4jDpssKkfvxdSy6Ik",
          "twitter_url": null,
          "github_url": null,
          "facebook_url": null,
          "extrapolated_email_confidence": null,
          "headline": null,
          "email": "psloane@manleycreative.com",
          "organization_id": "556de8c27369641114a50200",
          "employment_history": [
            {
              "_id": "6856749d9aa5410001601fce",
              "created_at": null,
              "current": true,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": null,
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "556de8c27369641114a50200",
              "organization_name": "Manley Creative",
              "raw_address": null,
              "start_date": "2025-04-01",
              "title": "Agency Coordinator",
              "updated_at": null,
              "id": "6856749d9aa5410001601fce",
              "key": "6856749d9aa5410001601fce"
            },
            {
              "_id": "6856749d9aa5410001601fcf",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2024-12-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5d28607c18663b0b4ccc23a3",
              "organization_name": "OTTO Car Club",
              "raw_address": null,
              "start_date": "2024-08-01",
              "title": "Client Relations Specialist",
              "updated_at": null,
              "id": "6856749d9aa5410001601fcf",
              "key": "6856749d9aa5410001601fcf"
            },
            {
              "_id": "6856749d9aa5410001601fd0",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2024-04-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "57c4bd23a6da9836d27e0585",
              "organization_name": "Xtreme Xperience",
              "raw_address": null,
              "start_date": "2024-02-01",
              "title": "Event Sales Coordinator",
              "updated_at": null,
              "id": "6856749d9aa5410001601fd0",
              "key": "6856749d9aa5410001601fd0"
            },
            {
              "_id": "6856749d9aa5410001601fd1",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2024-10-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "63e3bb7558a53b00db8a53bf",
              "organization_name": "KCA Special-Ops",
              "raw_address": null,
              "start_date": "2023-05-01",
              "title": "Hospitality and Events",
              "updated_at": null,
              "id": "6856749d9aa5410001601fd1",
              "key": "6856749d9aa5410001601fd1"
            },
            {
              "_id": "6856749d9aa5410001601fd2",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2023-04-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5f45e4d586758600012b9fc8",
              "organization_name": "LVIN",
              "raw_address": null,
              "start_date": "2023-02-01",
              "title": "Media Production Coordinator",
              "updated_at": null,
              "id": "6856749d9aa5410001601fd2",
              "key": "6856749d9aa5410001601fd2"
            },
            {
              "_id": "6856749d9aa5410001601fd3",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2022-05-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": null,
              "organization_name": "American Idol",
              "raw_address": null,
              "start_date": "2022-01-01",
              "title": "Executive Assistant to Executive in Charge of Production",
              "updated_at": null,
              "id": "6856749d9aa5410001601fd3",
              "key": "6856749d9aa5410001601fd3"
            },
            {
              "_id": "6856749d9aa5410001601fd4",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2021-11-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5a9f49b7a6da98d93be8d508",
              "organization_name": "Full Spectrum Features",
              "raw_address": null,
              "start_date": "2021-10-01",
              "title": "Assistant Location Manager",
              "updated_at": null,
              "id": "6856749d9aa5410001601fd4",
              "key": "6856749d9aa5410001601fd4"
            },
            {
              "_id": "6856749d9aa5410001601fd5",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2021-11-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": null,
              "organization_name": "FoxTV",
              "raw_address": null,
              "start_date": "2021-09-01",
              "title": "Set Production Assistant - The Big Leap",
              "updated_at": null,
              "id": "6856749d9aa5410001601fd5",
              "key": "6856749d9aa5410001601fd5"
            },
            {
              "_id": "6856749d9aa5410001601fd6",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2021-07-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": null,
              "organization_name": "i.T.V | Disney+ * HBO Max * Paramount+ * Netflix * AppleTV+ * Roku * Amazon Prime Video * Hulu",
              "raw_address": null,
              "start_date": "2021-07-01",
              "title": "Second Unit Set Production Assistant",
              "updated_at": null,
              "id": "6856749d9aa5410001601fd6",
              "key": "6856749d9aa5410001601fd6"
            },
            {
              "_id": "6856749d9aa5410001601fd7",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2021-07-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "61916df72a5a35000198a05a",
              "organization_name": "FX Networks",
              "raw_address": null,
              "start_date": "2021-06-01",
              "title": "Locations Production Assistant, The Bear - Pilot",
              "updated_at": null,
              "id": "6856749d9aa5410001601fd7",
              "key": "6856749d9aa5410001601fd7"
            },
            {
              "_id": "6856749d9aa5410001601fd8",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2021-05-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "67121fd4fcf5730001fc408d",
              "organization_name": "8th Street Productions",
              "raw_address": null,
              "start_date": "2021-05-01",
              "title": "Commercial Set Production Assistant, Aspen Dental",
              "updated_at": null,
              "id": "6856749d9aa5410001601fd8",
              "key": "6856749d9aa5410001601fd8"
            },
            {
              "_id": "6856749d9aa5410001601fd9",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2021-07-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": null,
              "organization_name": "i.T.V | Disney+ * HBO Max * Paramount+ * Netflix * AppleTV+ * Roku * Amazon Prime Video * Hulu",
              "raw_address": null,
              "start_date": "2021-05-01",
              "title": "Extras Casting Associate, Ripple Effects",
              "updated_at": null,
              "id": "6856749d9aa5410001601fd9",
              "key": "6856749d9aa5410001601fd9"
            },
            {
              "_id": "6856749d9aa5410001601fda",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2021-08-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5d0a4d5b80f93e598c47bf33",
              "organization_name": "Starz",
              "raw_address": null,
              "start_date": "2021-05-01",
              "title": "Set Production Assistant, Powerbook IV: Force",
              "updated_at": null,
              "id": "6856749d9aa5410001601fda",
              "key": "6856749d9aa5410001601fda"
            },
            {
              "_id": "6856749d9aa5410001601fdb",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2021-11-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": null,
              "organization_name": "Roxstar Locations LLC",
              "raw_address": null,
              "start_date": "2021-05-01",
              "title": "Production Office Coordinator/Executive Assistant",
              "updated_at": null,
              "id": "6856749d9aa5410001601fdb",
              "key": "6856749d9aa5410001601fdb"
            },
            {
              "_id": "6856749d9aa5410001601fdc",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2021-05-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": null,
              "organization_name": "Pet Central Helps",
              "raw_address": null,
              "start_date": "2020-10-01",
              "title": "Social Media Manager",
              "updated_at": null,
              "id": "6856749d9aa5410001601fdc",
              "key": "6856749d9aa5410001601fdc"
            },
            {
              "_id": "6856749d9aa5410001601fdd",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2020-08-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5e5636dc57498900013103e8",
              "organization_name": "Ladders",
              "raw_address": null,
              "start_date": "2020-06-01",
              "title": "Social Media Manager",
              "updated_at": null,
              "id": "6856749d9aa5410001601fdd",
              "key": "6856749d9aa5410001601fdd"
            },
            {
              "_id": "6856749d9aa5410001601fde",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2019-08-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "673afce6457a250001fcc53a",
              "organization_name": "Dreamscape Cinema",
              "raw_address": null,
              "start_date": "2019-06-01",
              "title": "Production Assistant",
              "updated_at": null,
              "id": "6856749d9aa5410001601fde",
              "key": "6856749d9aa5410001601fde"
            },
            {
              "_id": "6856749d9aa5410001601fdf",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2019-08-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a1274769702d9548507400",
              "organization_name": "Anthropologie",
              "raw_address": null,
              "start_date": "2019-05-01",
              "title": "Sales Associate",
              "updated_at": null,
              "id": "6856749d9aa5410001601fdf",
              "key": "6856749d9aa5410001601fdf"
            },
            {
              "_id": "6856749d9aa5410001601fe0",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2019-08-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a1ad997468694012b23807",
              "organization_name": "The Rock Agency",
              "raw_address": null,
              "start_date": "2019-05-01",
              "title": "Personal Assistant and Head of Baby Division",
              "updated_at": null,
              "id": "6856749d9aa5410001601fe0",
              "key": "6856749d9aa5410001601fe0"
            },
            {
              "_id": "6856749d9aa5410001601fe1",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2021-05-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5ed6cd31047c1c000159612a",
              "organization_name": "Illinois Wesleyan University",
              "raw_address": null,
              "start_date": "2017-08-01",
              "title": "Associate Publicity Coordinator",
              "updated_at": null,
              "id": "6856749d9aa5410001601fe1",
              "key": "6856749d9aa5410001601fe1"
            }
          ],
          "state": "Arizona",
          "city": "Scottsdale",
          "country": "United States",
          "organization": {
            "id": "556de8c27369641114a50200",
            "name": "Manley Creative",
            "website_url": "http://www.manleycreative.com",
            "blog_url": null,
            "angellist_url": null,
            "linkedin_url": "http://www.linkedin.com/company/manley-creative",
            "twitter_url": null,
            "facebook_url": "https://www.facebook.com/manleycreativeteam/",
            "primary_phone": {
              "number": "+1 602-595-4942",
              "source": "Scraped",
              "sanitized_number": "+16025954942"
            },
            "languages": [
              "English"
            ],
            "alexa_ranking": null,
            "phone": "+1 602-595-4942",
            "linkedin_uid": "3622037",
            "founded_year": 2006,
            "publicly_traded_symbol": null,
            "publicly_traded_exchange": null,
            "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/683e0a2676916d000114526e/picture",
            "crunchbase_url": null,
            "primary_domain": "manleycreative.com",
            "sic_codes": [
              "7311"
            ],
            "naics_codes": [
              "51211"
            ],
            "sanitized_phone": "+16025954942",
            "organization_headcount_six_month_growth": 0.1428571428571428,
            "organization_headcount_twelve_month_growth": 0.04347826086956522,
            "organization_headcount_twenty_four_month_growth": -0.07692307692307693
          },
          "departments": [],
          "subdepartments": [],
          "seniority": "entry",
          "functions": [],
          "intent_strength": null,
          "show_intent": true,
          "email_domain_catchall": false,
          "revealed_for_current_team": true
        }
      },
      {
        "json": {
          "id": "54c2854174686916397a32a2",
          "first_name": "Mark",
          "last_name": "Dingman",
          "name": "Mark Dingman",
          "linkedin_url": "http://www.linkedin.com/in/mrdingman",
          "title": "Creative Director",
          "email_status": "verified",
          "photo_url": "https://media.licdn.com/dms/image/v2/D4E03AQHcRq8WCzagXw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1690823463172?e=2147483647&v=beta&t=Z1yYlnAlldJsRhwRX0AklgzChvXIv7sJfLl45bPZab4",
          "twitter_url": "https://twitter.com/mrdingman",
          "github_url": null,
          "facebook_url": null,
          "extrapolated_email_confidence": null,
          "headline": "Creative Director",
          "email": "mark@mill.agency",
          "organization_id": "54a139b969702d0486c76900",
          "employment_history": [
            {
              "_id": "6871e77197c25200012ec968",
              "created_at": null,
              "current": true,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": null,
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a139b969702d0486c76900",
              "organization_name": "Millennium Agency",
              "raw_address": null,
              "start_date": "2014-11-01",
              "title": "Creative Director",
              "updated_at": null,
              "id": "6871e77197c25200012ec968",
              "key": "6871e77197c25200012ec968"
            },
            {
              "_id": "6871e77197c25200012ec969",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2014-10-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a139b969702d0486c76900",
              "organization_name": "Millennium Agency",
              "raw_address": null,
              "start_date": "2012-11-01",
              "title": "Digital Creative Manager",
              "updated_at": null,
              "id": "6871e77197c25200012ec969",
              "key": "6871e77197c25200012ec969"
            },
            {
              "_id": "6871e77197c25200012ec96a",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2012-10-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a139b969702d0486c76900",
              "organization_name": "Millennium Agency",
              "raw_address": null,
              "start_date": "2011-07-01",
              "title": "Graphic Designer",
              "updated_at": null,
              "id": "6871e77197c25200012ec96a",
              "key": "6871e77197c25200012ec96a"
            },
            {
              "_id": "6871e77197c25200012ec96b",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2011-06-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": null,
              "organization_name": "Panoramic Publishing Group",
              "raw_address": null,
              "start_date": "2006-03-01",
              "title": "Graphic and Web Designer",
              "updated_at": null,
              "id": "6871e77197c25200012ec96b",
              "key": "6871e77197c25200012ec96b"
            },
            {
              "_id": "6871e77197c25200012ec96c",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2006-02-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a23a387468693a7e23ac17",
              "organization_name": "Fastsigns",
              "raw_address": null,
              "start_date": "2004-10-01",
              "title": "Production Manager",
              "updated_at": null,
              "id": "6871e77197c25200012ec96c",
              "key": "6871e77197c25200012ec96c"
            },
            {
              "_id": "6871e77197c25200012ec96d",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2004-04-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a1390e69702d2d7f112600",
              "organization_name": "Think Nocturnal LLC",
              "raw_address": null,
              "start_date": "2003-10-01",
              "title": "Intern",
              "updated_at": null,
              "id": "6871e77197c25200012ec96d",
              "key": "6871e77197c25200012ec96d"
            },
            {
              "_id": "6871e77197c25200012ec96e",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2004-09-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": null,
              "organization_name": "Surf Coaster USA",
              "raw_address": null,
              "start_date": "2000-06-01",
              "title": "Assistant Director of Operations",
              "updated_at": null,
              "id": "6871e77197c25200012ec96e",
              "key": "6871e77197c25200012ec96e"
            }
          ],
          "state": "Massachusetts",
          "city": "Boston",
          "country": "United States",
          "organization": {
            "id": "54a139b969702d0486c76900",
            "name": "Millennium Agency",
            "website_url": "http://www.mill.agency",
            "blog_url": null,
            "angellist_url": null,
            "linkedin_url": "http://www.linkedin.com/company/millagency",
            "twitter_url": "https://twitter.com/millagency/",
            "facebook_url": "https://www.facebook.com/MillAgency/",
            "primary_phone": {
              "number": "+1 877-873-7445",
              "source": "Scraped",
              "sanitized_number": "+18778737445"
            },
            "languages": [
              "English"
            ],
            "alexa_ranking": null,
            "phone": "+1 877-873-7445",
            "linkedin_uid": "264022",
            "founded_year": 1996,
            "publicly_traded_symbol": null,
            "publicly_traded_exchange": null,
            "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/6856b022700a230001a6ef46/picture",
            "crunchbase_url": null,
            "primary_domain": "mill.agency",
            "sic_codes": [
              "7311"
            ],
            "naics_codes": [
              "54161"
            ],
            "sanitized_phone": "+18778737445",
            "organization_headcount_six_month_growth": 0,
            "organization_headcount_twelve_month_growth": 0,
            "organization_headcount_twenty_four_month_growth": -0.1
          },
          "departments": [
            "design"
          ],
          "subdepartments": [
            "all_design"
          ],
          "seniority": "director",
          "functions": [],
          "intent_strength": null,
          "show_intent": true,
          "email_domain_catchall": false,
          "revealed_for_current_team": true
        }
      },
      {
        "json": {
          "id": "60cf531c820b8c0001d11383",
          "first_name": "Charles",
          "last_name": "Nevsimal",
          "name": "Charles Nevsimal",
          "linkedin_url": "http://www.linkedin.com/in/charlesnevsimal",
          "title": "Creative Director",
          "email_status": "verified",
          "photo_url": "https://media.licdn.com/dms/image/v2/C4E03AQGRuPHqh62eow/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1553015543637?e=2147483647&v=beta&t=4oiuDUPX0lvEpsjfbkdz7PQwQcf0YPi0XGfQu_gzmxs",
          "twitter_url": null,
          "github_url": null,
          "facebook_url": null,
          "extrapolated_email_confidence": null,
          "headline": "Creative Director",
          "email": "charles@manifestoagency.com",
          "organization_id": "54a11e4e69702da7539e7a01",
          "employment_history": [
            {
              "_id": "6869d800e7626200014ab363",
              "created_at": null,
              "current": true,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": null,
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a11e4e69702da7539e7a01",
              "organization_name": "Manifesto Agency",
              "raw_address": null,
              "start_date": "2022-03-01",
              "title": "Creative Director",
              "updated_at": null,
              "id": "6869d800e7626200014ab363",
              "key": "6869d800e7626200014ab363"
            },
            {
              "_id": "6869d800e7626200014ab364",
              "created_at": null,
              "current": true,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": null,
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a1398269702d2bfdd66200",
              "organization_name": "Centennial Press",
              "raw_address": null,
              "start_date": "2000-01-01",
              "title": "Publisher / Editor",
              "updated_at": null,
              "id": "6869d800e7626200014ab364",
              "key": "6869d800e7626200014ab364"
            },
            {
              "_id": "6869d800e7626200014ab365",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2022-03-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a11e4e69702da7539e7a01",
              "organization_name": "Manifesto Agency",
              "raw_address": null,
              "start_date": "2017-01-01",
              "title": "Associate Creative Director",
              "updated_at": null,
              "id": "6869d800e7626200014ab365",
              "key": "6869d800e7626200014ab365"
            },
            {
              "_id": "6869d800e7626200014ab366",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2017-03-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a11e4e69702da7539e7a01",
              "organization_name": "Manifesto Agency",
              "raw_address": null,
              "start_date": "2015-02-01",
              "title": "Senior Writer",
              "updated_at": null,
              "id": "6869d800e7626200014ab366",
              "key": "6869d800e7626200014ab366"
            },
            {
              "_id": "6869d800e7626200014ab367",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2014-09-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a13c5269702d267a6dd001",
              "organization_name": "Hanson Dodge Creative",
              "raw_address": null,
              "start_date": "2012-08-01",
              "title": "Associate Creative Director / Sr. Writer",
              "updated_at": null,
              "id": "6869d800e7626200014ab367",
              "key": "6869d800e7626200014ab367"
            },
            {
              "_id": "6869d800e7626200014ab368",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2012-09-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5edfa0e70df74900011a62f0",
              "organization_name": "Marquette University - Youth Empowerment Program",
              "raw_address": null,
              "start_date": "2011-09-01",
              "title": "Creative Director / Team Lead",
              "updated_at": null,
              "id": "6869d800e7626200014ab368",
              "key": "6869d800e7626200014ab368"
            },
            {
              "_id": "6869d800e7626200014ab369",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2012-09-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5edfa0e70df74900011a62f0",
              "organization_name": "Marquette University - Youth Empowerment Program",
              "raw_address": null,
              "start_date": "2010-07-01",
              "title": "Freelance Writer",
              "updated_at": null,
              "id": "6869d800e7626200014ab369",
              "key": "6869d800e7626200014ab369"
            },
            {
              "_id": "6869d800e7626200014ab36a",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2017-02-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": null,
              "organization_name": "Charles Nevsimal",
              "raw_address": null,
              "start_date": "2010-05-01",
              "title": "Freelance Writer / Creative Director",
              "updated_at": null,
              "id": "6869d800e7626200014ab36a",
              "key": "6869d800e7626200014ab36a"
            },
            {
              "_id": "6869d800e7626200014ab36b",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2008-11-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": null,
              "organization_name": "Brightspot Brands",
              "raw_address": null,
              "start_date": "2008-03-01",
              "title": "Freelance Writer",
              "updated_at": null,
              "id": "6869d800e7626200014ab36b",
              "key": "6869d800e7626200014ab36b"
            },
            {
              "_id": "6869d800e7626200014ab36c",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2008-01-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": null,
              "organization_name": "INFO* Milwaukee",
              "raw_address": null,
              "start_date": "2004-01-01",
              "title": "Features Editor",
              "updated_at": null,
              "id": "6869d800e7626200014ab36c",
              "key": "6869d800e7626200014ab36c"
            },
            {
              "_id": "6869d800e7626200014ab36d",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2010-05-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": null,
              "organization_name": "GS Design",
              "raw_address": null,
              "start_date": "2000-02-01",
              "title": "Writer",
              "updated_at": null,
              "id": "6869d800e7626200014ab36d",
              "key": "6869d800e7626200014ab36d"
            },
            {
              "_id": "6869d800e7626200014ab36e",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2000-01-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": null,
              "organization_name": "Music Stop / Movie Time",
              "raw_address": null,
              "start_date": "1996-01-01",
              "title": "Assistant Manager",
              "updated_at": null,
              "id": "6869d800e7626200014ab36e",
              "key": "6869d800e7626200014ab36e"
            }
          ],
          "state": "Wisconsin",
          "city": null,
          "country": "United States",
          "organization": {
            "id": "54a11e4e69702da7539e7a01",
            "name": "Manifesto Agency",
            "website_url": "http://www.manifestoagency.com",
            "blog_url": null,
            "angellist_url": "http://angel.co/manifesto-agency",
            "linkedin_url": "http://www.linkedin.com/company/manifesto---a-brand-declaration-agency",
            "twitter_url": "http://twitter.com/@manifestodigi",
            "facebook_url": "https://www.facebook.com/ManifestoAgency/",
            "primary_phone": {
              "number": "+1 971-202-7340",
              "source": "Owler",
              "sanitized_number": "+19712027340"
            },
            "languages": [
              "English"
            ],
            "alexa_ranking": 165685,
            "phone": "+1 971-202-7340",
            "linkedin_uid": "2739585",
            "founded_year": 2011,
            "publicly_traded_symbol": null,
            "publicly_traded_exchange": null,
            "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/687d254bc0e7e700011e2408/picture",
            "crunchbase_url": null,
            "primary_domain": "manifestoagency.com",
            "sic_codes": [
              "7311"
            ],
            "naics_codes": [
              "54181"
            ],
            "sanitized_phone": "+19712027340",
            "organization_headcount_six_month_growth": 0,
            "organization_headcount_twelve_month_growth": -0.1666666666666667,
            "organization_headcount_twenty_four_month_growth": -0.09090909090909091
          },
          "departments": [
            "design"
          ],
          "subdepartments": [
            "all_design"
          ],
          "seniority": "director",
          "functions": [],
          "intent_strength": null,
          "show_intent": true,
          "email_domain_catchall": false,
          "revealed_for_current_team": true
        }
      },
      {
        "json": {
          "id": "54ec112374686943116ee648",
          "first_name": "Rod",
          "last_name": "Henriques",
          "name": "Rod Henriques",
          "linkedin_url": "http://www.linkedin.com/in/rod-henriques-6699a63",
          "title": "Creative",
          "email_status": "verified",
          "photo_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
          "twitter_url": null,
          "github_url": null,
          "facebook_url": null,
          "extrapolated_email_confidence": null,
          "headline": "Creative at Ad Agency",
          "email": null,
          "organization_id": "651f7a9e5bd2590001d18f88",
          "employment_history": [
            {
              "_id": "6844d028978bba00019fbbb3",
              "created_at": null,
              "current": true,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": null,
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "651f7a9e5bd2590001d18f88",
              "organization_name": "Ad Agency",
              "raw_address": null,
              "start_date": null,
              "title": "Creative",
              "updated_at": null,
              "id": "6844d028978bba00019fbbb3",
              "key": "6844d028978bba00019fbbb3"
            }
          ],
          "state": "California",
          "city": "Torrance",
          "country": "United States",
          "organization": {
            "id": "651f7a9e5bd2590001d18f88",
            "name": "Ad Agency",
            "website_url": "http://www.agencyad.in",
            "blog_url": null,
            "angellist_url": null,
            "linkedin_url": "http://www.linkedin.com/company/agency-ad",
            "twitter_url": null,
            "facebook_url": null,
            "primary_phone": {},
            "languages": [],
            "alexa_ranking": null,
            "phone": null,
            "linkedin_uid": "96639547",
            "founded_year": 2022,
            "publicly_traded_symbol": null,
            "publicly_traded_exchange": null,
            "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/66f0ccd3473042000177a621/picture",
            "crunchbase_url": null,
            "primary_domain": "agencyad.in",
            "organization_headcount_six_month_growth": -0.06666666666666667,
            "organization_headcount_twelve_month_growth": -0.0967741935483871,
            "organization_headcount_twenty_four_month_growth": -0.03448275862068965
          },
          "departments": [
            "design"
          ],
          "subdepartments": [
            "all_design"
          ],
          "seniority": "entry",
          "functions": [],
          "intent_strength": null,
          "show_intent": true,
          "email_domain_catchall": false,
          "revealed_for_current_team": true
        }
      },
      {
        "json": {
          "id": "5ad6eec5a6da98e3d61eeae8",
          "first_name": "John",
          "last_name": "Miller",
          "name": "John Miller",
          "linkedin_url": "http://www.linkedin.com/in/john-miller-55b9b15",
          "title": "Creative Director",
          "email_status": "verified",
          "photo_url": "https://media.licdn.com/dms/image/v2/C4E03AQHAxDjUzQ7isQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1517655560496?e=2147483647&v=beta&t=MAiEFsUxf7vBcv53Ke8BDnXOFr8V6-0N9WxeNMzqWo4",
          "twitter_url": null,
          "github_url": null,
          "facebook_url": null,
          "extrapolated_email_confidence": null,
          "headline": "Creative Director",
          "email": "jmiller@marketspaceagency.com",
          "organization_id": "54a1ac087468694f8f01a606",
          "employment_history": [
            {
              "_id": "68524c0346140000013c3ea3",
              "created_at": null,
              "current": true,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": null,
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a1ac087468694f8f01a606",
              "organization_name": "MarketSpace Agency",
              "raw_address": null,
              "start_date": "2016-07-01",
              "title": "Creative Director",
              "updated_at": null,
              "id": "68524c0346140000013c3ea3",
              "key": "68524c0346140000013c3ea3"
            },
            {
              "_id": "68524c0346140000013c3ea4",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2016-07-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "55e8c6b6f3e5bb425b000016",
              "organization_name": "Atlas Marketing",
              "raw_address": null,
              "start_date": "2008-10-01",
              "title": "Creative Director",
              "updated_at": null,
              "id": "68524c0346140000013c3ea4",
              "key": "68524c0346140000013c3ea4"
            },
            {
              "_id": "68524c0346140000013c3ea5",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2007-01-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a1296569702d8eebebe201",
              "organization_name": "Brunner",
              "raw_address": null,
              "start_date": "2005-01-01",
              "title": "Art Director",
              "updated_at": null,
              "id": "68524c0346140000013c3ea5",
              "key": "68524c0346140000013c3ea5"
            },
            {
              "_id": "68524c0346140000013c3ea6",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2005-01-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5f8df8468d30cf00c07f5dd3",
              "organization_name": "MARC USA / Pittsburgh",
              "raw_address": null,
              "start_date": "1997-01-01",
              "title": "Art Director",
              "updated_at": null,
              "id": "68524c0346140000013c3ea6",
              "key": "68524c0346140000013c3ea6"
            }
          ],
          "state": "Pennsylvania",
          "city": "Ellwood City",
          "country": "United States",
          "organization": {
            "id": "54a1ac087468694f8f01a606",
            "name": "MarketSpace Agency",
            "website_url": "http://www.marketspaceagency.com",
            "blog_url": null,
            "angellist_url": null,
            "linkedin_url": "http://www.linkedin.com/company/marketspace-agency",
            "twitter_url": "https://twitter.com/marketspacecom",
            "facebook_url": "https://www.facebook.com/marketspace/",
            "primary_phone": {
              "number": "+1 724-778-9933",
              "source": "Owler",
              "sanitized_number": "+17247789933"
            },
            "languages": [
              "English"
            ],
            "alexa_ranking": null,
            "phone": "+1 724-778-9933",
            "linkedin_uid": "209345",
            "founded_year": 2005,
            "publicly_traded_symbol": null,
            "publicly_traded_exchange": null,
            "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/685310b0505ca30001668bcc/picture",
            "crunchbase_url": null,
            "primary_domain": "marketspaceagency.com",
            "sic_codes": [
              "7311"
            ],
            "naics_codes": [
              "54181"
            ],
            "sanitized_phone": "+17247789933",
            "organization_headcount_six_month_growth": 0.09090909090909091,
            "organization_headcount_twelve_month_growth": -0.07692307692307693,
            "organization_headcount_twenty_four_month_growth": 0.5
          },
          "departments": [
            "design"
          ],
          "subdepartments": [
            "all_design"
          ],
          "seniority": "director",
          "functions": [],
          "intent_strength": null,
          "show_intent": true,
          "email_domain_catchall": false,
          "revealed_for_current_team": true
        }
      },
      {
        "json": {
          "id": "54c1ac057468697af777b734",
          "first_name": "Mandy",
          "last_name": "Stephenson",
          "name": "Mandy Stephenson",
          "linkedin_url": "http://www.linkedin.com/in/mandystephenson1",
          "title": "Creative Director",
          "email_status": "verified",
          "photo_url": "https://media.licdn.com/dms/image/v2/D4D03AQEI2IbaR0z1pw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1700581371160?e=2147483647&v=beta&t=hLzs9DX30_VAqZIryYFvL50ZQHm6KEZxF_GJBg16jnY",
          "twitter_url": "https://twitter.com/mandy_stephens",
          "github_url": null,
          "facebook_url": null,
          "extrapolated_email_confidence": null,
          "headline": "Group Creative Director at LIFT Agency, Inc.",
          "email": null,
          "organization_id": "55f86ec8f3e5bb7eb6002494",
          "employment_history": [
            {
              "_id": "687a3376659e740001ba5189",
              "created_at": null,
              "current": true,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": null,
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "55f86ec8f3e5bb7eb6002494",
              "organization_name": "LIFT Agency, Inc.",
              "raw_address": null,
              "start_date": "2023-07-01",
              "title": "Creative Director",
              "updated_at": null,
              "id": "687a3376659e740001ba5189",
              "key": "687a3376659e740001ba5189"
            },
            {
              "_id": "687a3376659e740001ba518a",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2023-08-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "55f86ec8f3e5bb7eb6002494",
              "organization_name": "LIFT Agency, Inc.",
              "raw_address": null,
              "start_date": "2020-07-01",
              "title": "Creative Director",
              "updated_at": null,
              "id": "687a3376659e740001ba518a",
              "key": "687a3376659e740001ba518a"
            },
            {
              "_id": "687a3376659e740001ba518b",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2020-07-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "55f86ec8f3e5bb7eb6002494",
              "organization_name": "LIFT Agency, Inc.",
              "raw_address": null,
              "start_date": "2018-02-01",
              "title": "Associate Creative Director",
              "updated_at": null,
              "id": "687a3376659e740001ba518b",
              "key": "687a3376659e740001ba518b"
            },
            {
              "_id": "687a3376659e740001ba518c",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2018-11-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "556d679a7369641238a10201",
              "organization_name": "iTalent Digital",
              "raw_address": null,
              "start_date": "2017-09-01",
              "title": "Marketing Consultant",
              "updated_at": null,
              "id": "687a3376659e740001ba518c",
              "key": "687a3376659e740001ba518c"
            },
            {
              "_id": "687a3376659e740001ba518d",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2018-02-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5a9d74d4a6da98d977f407c6",
              "organization_name": "Harte Hanks",
              "raw_address": null,
              "start_date": "2015-07-01",
              "title": "Senior Copywriter",
              "updated_at": null,
              "id": "687a3376659e740001ba518d",
              "key": "687a3376659e740001ba518d"
            },
            {
              "_id": "687a3376659e740001ba518e",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2015-07-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5a9d74d4a6da98d977f407c6",
              "organization_name": "Harte Hanks",
              "raw_address": null,
              "start_date": "2014-01-01",
              "title": "Copywriter",
              "updated_at": null,
              "id": "687a3376659e740001ba518e",
              "key": "687a3376659e740001ba518e"
            },
            {
              "_id": "687a3376659e740001ba518f",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2016-12-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a11fb969702d97c11c1c02",
              "organization_name": "Combat Flip Flops",
              "raw_address": null,
              "start_date": "2016-01-01",
              "title": "Social Media Director",
              "updated_at": null,
              "id": "687a3376659e740001ba518f",
              "key": "687a3376659e740001ba518f"
            },
            {
              "_id": "687a3376659e740001ba5190",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2015-12-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a11fb969702d97c11c1c02",
              "organization_name": "Combat Flip Flops",
              "raw_address": null,
              "start_date": "2013-01-01",
              "title": "Social Media Marketing Manager",
              "updated_at": null,
              "id": "687a3376659e740001ba5190",
              "key": "687a3376659e740001ba5190"
            },
            {
              "_id": "687a3376659e740001ba5191",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2013-05-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a1295069702d8b195f0b02",
              "organization_name": "Magner Sanborn",
              "raw_address": null,
              "start_date": "2013-01-01",
              "title": "Account Intern",
              "updated_at": null,
              "id": "687a3376659e740001ba5191",
              "key": "687a3376659e740001ba5191"
            },
            {
              "_id": "687a3376659e740001ba5192",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2012-12-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": null,
              "organization_name": "GreenCupboards",
              "raw_address": null,
              "start_date": "2012-09-01",
              "title": "Social Media Intern",
              "updated_at": null,
              "id": "687a3376659e740001ba5192",
              "key": "687a3376659e740001ba5192"
            },
            {
              "_id": "687a3376659e740001ba5193",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2012-09-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a23ada7468693825211218",
              "organization_name": "Spokane Apple Brides",
              "raw_address": null,
              "start_date": "2012-05-01",
              "title": "Editorial Intern",
              "updated_at": null,
              "id": "687a3376659e740001ba5193",
              "key": "687a3376659e740001ba5193"
            },
            {
              "_id": "687a3376659e740001ba5194",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2012-03-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5500b0ea7369642def171500",
              "organization_name": "the purple turtle, inc.",
              "raw_address": null,
              "start_date": "2011-09-01",
              "title": "Production Assistant / Social Media Manager",
              "updated_at": null,
              "id": "687a3376659e740001ba5194",
              "key": "687a3376659e740001ba5194"
            },
            {
              "_id": "687a3376659e740001ba5195",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2011-09-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5500b0ea7369642def171500",
              "organization_name": "the purple turtle, inc.",
              "raw_address": null,
              "start_date": "2011-04-01",
              "title": "Marketing Intern",
              "updated_at": null,
              "id": "687a3376659e740001ba5195",
              "key": "687a3376659e740001ba5195"
            },
            {
              "_id": "687a3376659e740001ba5196",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2011-05-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": null,
              "organization_name": "Words Inspire Public Relations",
              "raw_address": null,
              "start_date": "2011-02-01",
              "title": "Account Assistant",
              "updated_at": null,
              "id": "687a3376659e740001ba5196",
              "key": "687a3376659e740001ba5196"
            }
          ],
          "state": "New York",
          "city": "New York",
          "country": "United States",
          "organization": {
            "id": "55f86ec8f3e5bb7eb6002494",
            "name": "LIFT Agency, Inc.",
            "website_url": "http://www.liftagency.co",
            "blog_url": null,
            "angellist_url": null,
            "linkedin_url": "http://www.linkedin.com/company/weareliftagency",
            "twitter_url": "https://twitter.com/weareliftagency",
            "facebook_url": "https://facebook.com/weareliftagency",
            "primary_phone": {
              "number": "+1 415-248-3170",
              "source": "Account",
              "sanitized_number": "+14152483170"
            },
            "languages": [
              "English"
            ],
            "alexa_ranking": null,
            "phone": "+1 415-248-3170",
            "linkedin_uid": "112823",
            "founded_year": 2003,
            "publicly_traded_symbol": null,
            "publicly_traded_exchange": null,
            "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/6843fe4d1f6e2b0001229e1d/picture",
            "crunchbase_url": null,
            "primary_domain": "liftagency.co",
            "sanitized_phone": "+14152483170",
            "organization_headcount_six_month_growth": 0.02439024390243903,
            "organization_headcount_twelve_month_growth": 0.1052631578947368,
            "organization_headcount_twenty_four_month_growth": 0.2
          },
          "departments": [
            "design"
          ],
          "subdepartments": [
            "all_design"
          ],
          "seniority": "director",
          "functions": [],
          "intent_strength": null,
          "show_intent": true,
          "email_domain_catchall": false,
          "revealed_for_current_team": true
        }
      },
      {
        "json": {
          "id": "61000cbca994a90001c06d5a",
          "first_name": "Jordan",
          "last_name": "Gibson",
          "name": "Jordan Gibson",
          "linkedin_url": "http://www.linkedin.com/in/jordan-c-gibson",
          "title": "Creative Director",
          "email_status": "verified",
          "photo_url": "https://media.licdn.com/dms/image/v2/C4E03AQF6NkVyntdMEg/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1638991262051?e=2147483647&v=beta&t=g2qTRl1uXwCFW4jdp2ahqIRJdFDhJidqAI7whR6C3vY",
          "twitter_url": null,
          "github_url": null,
          "facebook_url": null,
          "extrapolated_email_confidence": null,
          "headline": "Creative Director",
          "email": null,
          "organization_id": "5f492bb951b3cc00010241ec",
          "employment_history": [
            {
              "_id": "6860155933a898000197d77c",
              "created_at": null,
              "current": true,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": null,
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5f492bb951b3cc00010241ec",
              "organization_name": "HIFI Agency",
              "raw_address": null,
              "start_date": "2024-07-01",
              "title": "Creative Director",
              "updated_at": null,
              "id": "6860155933a898000197d77c",
              "key": "6860155933a898000197d77c"
            },
            {
              "_id": "6860155933a898000197d77d",
              "created_at": null,
              "current": true,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": null,
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5e56d45aa1a41a000124affd",
              "organization_name": "Odyssey Narratives",
              "raw_address": null,
              "start_date": "2018-12-01",
              "title": "Creative Director | Cinematographer",
              "updated_at": null,
              "id": "6860155933a898000197d77d",
              "key": "6860155933a898000197d77d"
            },
            {
              "_id": "6860155933a898000197d77e",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2024-07-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5f492bb951b3cc00010241ec",
              "organization_name": "HIFI Agency",
              "raw_address": null,
              "start_date": "2023-09-01",
              "title": "Associate Creative Director",
              "updated_at": null,
              "id": "6860155933a898000197d77e",
              "key": "6860155933a898000197d77e"
            },
            {
              "_id": "6860155933a898000197d77f",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2019-06-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5d0a3ad380f93ed85c0b3f7d",
              "organization_name": "The Oldfather Group",
              "raw_address": null,
              "start_date": "2017-06-01",
              "title": "Director, Creative Content",
              "updated_at": null,
              "id": "6860155933a898000197d77f",
              "key": "6860155933a898000197d77f"
            },
            {
              "_id": "6860155933a898000197d780",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2017-06-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5d0a3ad380f93ed85c0b3f7d",
              "organization_name": "The Oldfather Group",
              "raw_address": null,
              "start_date": "2017-02-01",
              "title": "Video Producer",
              "updated_at": null,
              "id": "6860155933a898000197d780",
              "key": "6860155933a898000197d780"
            },
            {
              "_id": "6860155933a898000197d781",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2016-10-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": null,
              "organization_name": "Brighton Training Group",
              "raw_address": null,
              "start_date": "2016-07-01",
              "title": "Video Studio Consultant",
              "updated_at": null,
              "id": "6860155933a898000197d781",
              "key": "6860155933a898000197d781"
            },
            {
              "_id": "6860155933a898000197d782",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2015-12-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a11d5669702d7fe6801b01",
              "organization_name": "Campus Theatre",
              "raw_address": null,
              "start_date": "2014-06-01",
              "title": "Multimedia Technician",
              "updated_at": null,
              "id": "6860155933a898000197d782",
              "key": "6860155933a898000197d782"
            },
            {
              "_id": "6860155933a898000197d783",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2017-06-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": null,
              "organization_name": "Mosaic East Studios",
              "raw_address": null,
              "start_date": "2014-06-01",
              "title": "Director | Cinematographer | Editor",
              "updated_at": null,
              "id": "6860155933a898000197d783",
              "key": "6860155933a898000197d783"
            },
            {
              "_id": "6860155933a898000197d784",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2016-08-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5a9f6fdba6da98d9a15f21c2",
              "organization_name": "Bucknell University",
              "raw_address": null,
              "start_date": "2014-02-01",
              "title": "Video Specialist, Communications",
              "updated_at": null,
              "id": "6860155933a898000197d784",
              "key": "6860155933a898000197d784"
            }
          ],
          "state": "North Carolina",
          "city": "Raleigh",
          "country": "United States",
          "organization": {
            "id": "5f492bb951b3cc00010241ec",
            "name": "HIFI Agency",
            "website_url": "http://www.hifiagency.com",
            "blog_url": null,
            "angellist_url": null,
            "linkedin_url": "http://www.linkedin.com/company/hifiagency",
            "twitter_url": "https://twitter.com/agencyhifi",
            "facebook_url": "https://www.facebook.com/AgencyHiFi/",
            "primary_phone": {},
            "languages": [],
            "alexa_ranking": null,
            "phone": null,
            "linkedin_uid": "42309693",
            "founded_year": 2020,
            "publicly_traded_symbol": null,
            "publicly_traded_exchange": null,
            "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/6854900a3de7890001500a9a/picture",
            "crunchbase_url": null,
            "primary_domain": "hifiagency.com",
            "sic_codes": [
              "8742"
            ],
            "naics_codes": [
              "54181"
            ],
            "organization_headcount_six_month_growth": 0.05555555555555555,
            "organization_headcount_twelve_month_growth": 0.1875,
            "organization_headcount_twenty_four_month_growth": 0.7272727272727273
          },
          "departments": [
            "design"
          ],
          "subdepartments": [
            "all_design"
          ],
          "seniority": "director",
          "functions": [],
          "intent_strength": null,
          "show_intent": true,
          "email_domain_catchall": false,
          "revealed_for_current_team": true
        }
      },
      {
        "json": {
          "id": "57d9c9c7a6da981570c0da64",
          "first_name": "Clint",
          "last_name": "Eilerts",
          "name": "Clint Eilerts",
          "linkedin_url": "http://www.linkedin.com/in/clint-eilerts-23802b7",
          "title": "Creative Director",
          "email_status": "verified",
          "photo_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
          "twitter_url": null,
          "github_url": null,
          "facebook_url": null,
          "extrapolated_email_confidence": null,
          "headline": "Chief Awesomeness Officer at Arthur Agency",
          "email": "clint@arthuragency.com",
          "organization_id": "54a1268969702d8eeb6b1700",
          "employment_history": [
            {
              "_id": "684fcd96760bda00013178c5",
              "created_at": null,
              "current": true,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": null,
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a1268969702d8eeb6b1700",
              "organization_name": "Arthur Agency",
              "raw_address": null,
              "start_date": "2007-11-01",
              "title": "Creative Director",
              "updated_at": null,
              "id": "684fcd96760bda00013178c5",
              "key": "684fcd96760bda00013178c5"
            },
            {
              "_id": "684fcd96760bda00013178c6",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2008-05-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a128ee69702da220d15501",
              "organization_name": "Rend Lake College",
              "raw_address": null,
              "start_date": "2003-01-01",
              "title": "Professor of Design",
              "updated_at": null,
              "id": "684fcd96760bda00013178c6",
              "key": "684fcd96760bda00013178c6"
            },
            {
              "_id": "684fcd96760bda00013178c7",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2010-08-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a1287969702d90a2803b01",
              "organization_name": "CommunityLink Publications/Craig Williams Creative, Inc.",
              "raw_address": null,
              "start_date": "2002-07-01",
              "title": "Creative Director",
              "updated_at": null,
              "id": "684fcd96760bda00013178c7",
              "key": "684fcd96760bda00013178c7"
            },
            {
              "_id": "684fcd96760bda00013178c8",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "1998-01-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": null,
              "organization_name": "1060 WMCL",
              "raw_address": null,
              "start_date": "1994-01-01",
              "title": "Radio Personality",
              "updated_at": null,
              "id": "684fcd96760bda00013178c8",
              "key": "684fcd96760bda00013178c8"
            }
          ],
          "state": "Illinois",
          "city": "Mount Vernon",
          "country": "United States",
          "organization": {
            "id": "54a1268969702d8eeb6b1700",
            "name": "Arthur Agency",
            "website_url": "http://www.arthuragency.com",
            "blog_url": null,
            "angellist_url": null,
            "linkedin_url": "http://www.linkedin.com/company/arthur-agency",
            "twitter_url": "https://twitter.com/arthuragency",
            "facebook_url": "https://facebook.com/arthuragency",
            "primary_phone": {
              "number": "+1 618-351-1599",
              "source": "Account",
              "sanitized_number": "+16183511599"
            },
            "languages": [
              "English"
            ],
            "alexa_ranking": null,
            "phone": "+1 618-351-1599",
            "linkedin_uid": "447144",
            "founded_year": 2003,
            "publicly_traded_symbol": null,
            "publicly_traded_exchange": null,
            "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/66d50dbf72a009000191e324/picture",
            "crunchbase_url": null,
            "primary_domain": "arthuragency.com",
            "sic_codes": [
              "7311"
            ],
            "naics_codes": [
              "54181"
            ],
            "sanitized_phone": "+16183511599",
            "organization_headcount_six_month_growth": 0,
            "organization_headcount_twelve_month_growth": 0,
            "organization_headcount_twenty_four_month_growth": 0.6666666666666666
          },
          "departments": [
            "design"
          ],
          "subdepartments": [
            "all_design"
          ],
          "seniority": "director",
          "functions": [],
          "intent_strength": null,
          "show_intent": true,
          "email_domain_catchall": false,
          "revealed_for_current_team": true
        }
      },
      {
        "json": {
          "id": "666950fd9f07ff00011e3692",
          "first_name": "Maggie",
          "last_name": "Nelson",
          "name": "Maggie Nelson",
          "linkedin_url": "http://www.linkedin.com/in/maggienelson4",
          "title": "Creative Community Manager",
          "email_status": "verified",
          "photo_url": "https://media.licdn.com/dms/image/v2/D5603AQEnHetG7LhLYw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1694812401094?e=2147483647&v=beta&t=QD0UYvwkVL671GaXorax6WWPnIx2w7DxnnIWKBEJvTs",
          "twitter_url": null,
          "github_url": null,
          "facebook_url": null,
          "extrapolated_email_confidence": null,
          "headline": "Creative Community Builder 🛠️",
          "email": "maggie@coactagency.com",
          "organization_id": "5dfa7de98fa8ba012a9f36bb",
          "employment_history": [
            {
              "_id": "68607a4adde7a70001ed709f",
              "created_at": null,
              "current": true,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": null,
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5dfa7de98fa8ba012a9f36bb",
              "organization_name": "COACT AGENCY",
              "raw_address": null,
              "start_date": "2024-04-01",
              "title": "Creative Community Manager",
              "updated_at": null,
              "id": "68607a4adde7a70001ed709f",
              "key": "68607a4adde7a70001ed709f"
            },
            {
              "_id": "68607a4adde7a70001ed70a0",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2024-04-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": null,
              "organization_name": "Freelance",
              "raw_address": null,
              "start_date": "2022-02-01",
              "title": "Freelance Marketing Consultant",
              "updated_at": null,
              "id": "68607a4adde7a70001ed70a0",
              "key": "68607a4adde7a70001ed70a0"
            },
            {
              "_id": "68607a4adde7a70001ed70a1",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2023-04-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a1272a69702d8b1921cf00",
              "organization_name": "9 Story Media Group",
              "raw_address": null,
              "start_date": "2022-08-01",
              "title": "Franchise Manager",
              "updated_at": null,
              "id": "68607a4adde7a70001ed70a1",
              "key": "68607a4adde7a70001ed70a1"
            },
            {
              "_id": "68607a4adde7a70001ed70a2",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2022-08-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5a9d0b77a6da98d9466acf11",
              "organization_name": "New Engen, Inc.",
              "raw_address": null,
              "start_date": "2021-03-01",
              "title": "Media Services Manager",
              "updated_at": null,
              "id": "68607a4adde7a70001ed70a2",
              "key": "68607a4adde7a70001ed70a2"
            },
            {
              "_id": "68607a4adde7a70001ed70a3",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2021-03-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54fca4c67369647ddb592b00",
              "organization_name": "Big Marlin Group",
              "raw_address": null,
              "start_date": "2020-08-01",
              "title": "Account Manager",
              "updated_at": null,
              "id": "68607a4adde7a70001ed70a3",
              "key": "68607a4adde7a70001ed70a3"
            },
            {
              "_id": "68607a4adde7a70001ed70a4",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2020-08-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "60f68ed4ed36ff00f600c6ab",
              "organization_name": "MediaCom",
              "raw_address": null,
              "start_date": "2019-03-01",
              "title": "Planner",
              "updated_at": null,
              "id": "68607a4adde7a70001ed70a4",
              "key": "68607a4adde7a70001ed70a4"
            },
            {
              "_id": "68607a4adde7a70001ed70a5",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2019-03-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5569be1f7369642589668c00",
              "organization_name": "TRP Research Ltd",
              "raw_address": null,
              "start_date": "2018-02-01",
              "title": "Senior Research Executive",
              "updated_at": null,
              "id": "68607a4adde7a70001ed70a5",
              "key": "68607a4adde7a70001ed70a5"
            },
            {
              "_id": "68607a4adde7a70001ed70a6",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2019-03-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5569be1f7369642589668c00",
              "organization_name": "TRP Research Ltd",
              "raw_address": null,
              "start_date": "2016-05-01",
              "title": "Research Executive",
              "updated_at": null,
              "id": "68607a4adde7a70001ed70a6",
              "key": "68607a4adde7a70001ed70a6"
            },
            {
              "_id": "68607a4adde7a70001ed70a7",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2016-05-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a1347c69702d3cbbcc3700",
              "organization_name": "eXPD8 Field Marketing",
              "raw_address": null,
              "start_date": "2015-09-01",
              "title": "Account Administrator",
              "updated_at": null,
              "id": "68607a4adde7a70001ed70a7",
              "key": "68607a4adde7a70001ed70a7"
            },
            {
              "_id": "68607a4adde7a70001ed70a8",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2015-09-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5e566250b0b5190001a66b20",
              "organization_name": "Debenhams",
              "raw_address": null,
              "start_date": "2015-04-01",
              "title": "Recruiting Assistant",
              "updated_at": null,
              "id": "68607a4adde7a70001ed70a8",
              "key": "68607a4adde7a70001ed70a8"
            },
            {
              "_id": "68607a4adde7a70001ed70a9",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2014-08-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a1b7047468695475c8520a",
              "organization_name": "sweet praises, for home & life",
              "raw_address": null,
              "start_date": "2014-05-01",
              "title": "Media Relations Intern",
              "updated_at": null,
              "id": "68607a4adde7a70001ed70a9",
              "key": "68607a4adde7a70001ed70a9"
            },
            {
              "_id": "68607a4adde7a70001ed70aa",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2012-08-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "55f4537bf3e5bb0ba300159f",
              "organization_name": "World Endeavors",
              "raw_address": null,
              "start_date": "2012-05-01",
              "title": "Outreach Assistant",
              "updated_at": null,
              "id": "68607a4adde7a70001ed70aa",
              "key": "68607a4adde7a70001ed70aa"
            }
          ],
          "state": null,
          "city": null,
          "country": "United States",
          "organization": {
            "id": "5dfa7de98fa8ba012a9f36bb",
            "name": "COACT AGENCY",
            "website_url": "http://www.coactagency.com",
            "blog_url": null,
            "angellist_url": null,
            "linkedin_url": "http://www.linkedin.com/company/coactagency",
            "twitter_url": null,
            "facebook_url": null,
            "primary_phone": {},
            "languages": [],
            "alexa_ranking": null,
            "phone": null,
            "linkedin_uid": "40932370",
            "founded_year": 2019,
            "publicly_traded_symbol": null,
            "publicly_traded_exchange": null,
            "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/6878b82600ecc500014c1259/picture",
            "crunchbase_url": null,
            "primary_domain": "coactagency.com",
            "sic_codes": [
              "7311"
            ],
            "naics_codes": [
              "54181"
            ],
            "organization_headcount_six_month_growth": 0.09523809523809523,
            "organization_headcount_twelve_month_growth": 0.09523809523809523,
            "organization_headcount_twenty_four_month_growth": 0.4375
          },
          "departments": [
            "design"
          ],
          "subdepartments": [
            "all_design"
          ],
          "seniority": "manager",
          "functions": [],
          "intent_strength": null,
          "show_intent": true,
          "email_domain_catchall": false,
          "revealed_for_current_team": true
        }
      },
      {
        "json": {
          "id": "60ae6959127ad700010800af",
          "first_name": "Joe",
          "last_name": "Rgd",
          "name": "Joe Rgd",
          "linkedin_url": "http://www.linkedin.com/in/joeborges",
          "title": "VP, Creative Services",
          "email_status": "verified",
          "photo_url": "https://media.licdn.com/dms/image/v2/C4E03AQFxzUf6CQN-_Q/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1574437595071?e=2147483647&v=beta&t=MJ6Y8ufdK-CJ6ljxu_LJJiVnCsVMZ2S_3S5WDAWBelw",
          "twitter_url": null,
          "github_url": null,
          "facebook_url": null,
          "extrapolated_email_confidence": null,
          "headline": "VP, Creative Services",
          "email": null,
          "organization_id": "5b875831f874f70f36000427",
          "employment_history": [
            {
              "_id": "6864e7b036c0a40001110560",
              "created_at": null,
              "current": true,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": null,
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5b875831f874f70f36000427",
              "organization_name": "16x9 Agency",
              "raw_address": null,
              "start_date": "2018-01-01",
              "title": "VP, Creative Services",
              "updated_at": null,
              "id": "6864e7b036c0a40001110560",
              "key": "6864e7b036c0a40001110560"
            },
            {
              "_id": "6864e7b036c0a40001110561",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2017-11-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a128e069702d9ebc6f3601",
              "organization_name": "B+H Architects",
              "raw_address": null,
              "start_date": "2017-05-01",
              "title": "Director, Creative + Graphic Design, Associate",
              "updated_at": null,
              "id": "6864e7b036c0a40001110561",
              "key": "6864e7b036c0a40001110561"
            },
            {
              "_id": "6864e7b036c0a40001110562",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2017-05-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": null,
              "organization_name": "dubdub.com",
              "raw_address": null,
              "start_date": "2016-07-01",
              "title": "Creative Lead",
              "updated_at": null,
              "id": "6864e7b036c0a40001110562",
              "key": "6864e7b036c0a40001110562"
            },
            {
              "_id": "6864e7b036c0a40001110563",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2016-07-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5e7161ed987f5a0098628335",
              "organization_name": "The&Partnership",
              "raw_address": null,
              "start_date": "2014-08-01",
              "title": "Senior Designer / Art Director",
              "updated_at": null,
              "id": "6864e7b036c0a40001110563",
              "key": "6864e7b036c0a40001110563"
            },
            {
              "_id": "6864e7b036c0a40001110564",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2014-08-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a1215669702d9a8b94e702",
              "organization_name": "Cheil Canada",
              "raw_address": null,
              "start_date": "2011-08-01",
              "title": "Design + Studio Director",
              "updated_at": null,
              "id": "6864e7b036c0a40001110564",
              "key": "6864e7b036c0a40001110564"
            },
            {
              "_id": "6864e7b036c0a40001110565",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2011-08-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5fc8dbb4403ac10001afca63",
              "organization_name": "Ogilvy & Mather",
              "raw_address": null,
              "start_date": "1997-08-01",
              "title": "Senior Designer",
              "updated_at": null,
              "id": "6864e7b036c0a40001110565",
              "key": "6864e7b036c0a40001110565"
            },
            {
              "_id": "6864e7b036c0a40001110566",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "1997-01-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "55922a5e736964191291a700",
              "organization_name": "Advantex Marketing",
              "raw_address": null,
              "start_date": "1994-01-01",
              "title": "Graphic Designer",
              "updated_at": null,
              "id": "6864e7b036c0a40001110566",
              "key": "6864e7b036c0a40001110566"
            }
          ],
          "state": "Ontario",
          "city": "Oakville",
          "country": "Canada",
          "organization": {
            "id": "5b875831f874f70f36000427",
            "name": "16x9 Agency",
            "website_url": "http://www.16x9agency.com",
            "blog_url": null,
            "angellist_url": null,
            "linkedin_url": "http://www.linkedin.com/company/16x9-agency",
            "twitter_url": null,
            "facebook_url": null,
            "primary_phone": {
              "number": "+1 647-625-1814",
              "source": "Scraped",
              "sanitized_number": "+16476251814"
            },
            "languages": [],
            "alexa_ranking": null,
            "phone": "+1 647-625-1814",
            "linkedin_uid": "11716620",
            "founded_year": null,
            "publicly_traded_symbol": null,
            "publicly_traded_exchange": null,
            "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/670c55c0556e6c00010438e2/picture",
            "crunchbase_url": null,
            "primary_domain": "16x9agency.com",
            "sic_codes": [
              "7311"
            ],
            "naics_codes": [
              "54181"
            ],
            "sanitized_phone": "+16476251814",
            "organization_headcount_six_month_growth": 0,
            "organization_headcount_twelve_month_growth": -0.2666666666666667,
            "organization_headcount_twenty_four_month_growth": -0.2142857142857143
          },
          "departments": [
            "design"
          ],
          "subdepartments": [
            "all_design"
          ],
          "seniority": "vp",
          "functions": [],
          "intent_strength": null,
          "show_intent": true,
          "email_domain_catchall": false,
          "revealed_for_current_team": true
        }
      },
      {
        "json": {
          "id": "604073805e662c0001aad0a3",
          "first_name": "Kameron",
          "last_name": "Paries",
          "name": "Kameron Paries",
          "linkedin_url": "http://www.linkedin.com/in/kameronparies",
          "title": "Creative Director",
          "email_status": "verified",
          "photo_url": "https://media.licdn.com/dms/image/v2/C4D03AQEpGGpnCcM6ZA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1619102282333?e=2147483647&v=beta&t=aqz5A6SvLcB3kBM45q9vggxK6O2CGE9Dh8mOzcgbbYM",
          "twitter_url": "https://twitter.com/kamparies",
          "github_url": null,
          "facebook_url": null,
          "extrapolated_email_confidence": null,
          "headline": "Creative Director",
          "email": null,
          "organization_id": "61cae9d609713800dad7a82b",
          "employment_history": [
            {
              "_id": "687bc0e2dad80d000182a62f",
              "created_at": null,
              "current": true,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": null,
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "61cae9d609713800dad7a82b",
              "organization_name": "quench agency",
              "raw_address": null,
              "start_date": "2022-11-01",
              "title": "Creative Director",
              "updated_at": null,
              "id": "687bc0e2dad80d000182a62f",
              "key": "687bc0e2dad80d000182a62f"
            },
            {
              "_id": "687bc0e2dad80d000182a630",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2022-11-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a134fe69702d48e2815100",
              "organization_name": "SPARK",
              "raw_address": null,
              "start_date": "2021-08-01",
              "title": "Associate Creative Director/AD",
              "updated_at": null,
              "id": "687bc0e2dad80d000182a630",
              "key": "687bc0e2dad80d000182a630"
            },
            {
              "_id": "687bc0e2dad80d000182a631",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2021-03-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5ed2470af79b8200012f572d",
              "organization_name": "Trade School",
              "raw_address": null,
              "start_date": "2020-08-01",
              "title": "Associate Creative Director",
              "updated_at": null,
              "id": "687bc0e2dad80d000182a631",
              "key": "687bc0e2dad80d000182a631"
            },
            {
              "_id": "687bc0e2dad80d000182a632",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2020-08-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a135bf69702d48e2cec400",
              "organization_name": "22squared",
              "raw_address": null,
              "start_date": "2019-07-01",
              "title": "Associate Creative Director",
              "updated_at": null,
              "id": "687bc0e2dad80d000182a632",
              "key": "687bc0e2dad80d000182a632"
            },
            {
              "_id": "687bc0e2dad80d000182a633",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2019-07-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a135ea69702d333d981e01",
              "organization_name": "R&R Partners",
              "raw_address": null,
              "start_date": "2015-04-01",
              "title": "Art Director- ACD",
              "updated_at": null,
              "id": "687bc0e2dad80d000182a633",
              "key": "687bc0e2dad80d000182a633"
            },
            {
              "_id": "687bc0e2dad80d000182a634",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2015-04-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a1187769702d55fb970500",
              "organization_name": "Doner",
              "raw_address": null,
              "start_date": "2011-10-01",
              "title": "Art Director",
              "updated_at": null,
              "id": "687bc0e2dad80d000182a634",
              "key": "687bc0e2dad80d000182a634"
            },
            {
              "_id": "687bc0e2dad80d000182a635",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2011-06-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a134d369702d3e836f5700",
              "organization_name": "Planet Studio",
              "raw_address": null,
              "start_date": "2011-02-01",
              "title": "Designer Intern",
              "updated_at": null,
              "id": "687bc0e2dad80d000182a635",
              "key": "687bc0e2dad80d000182a635"
            },
            {
              "_id": "687bc0e2dad80d000182a636",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2009-04-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a128c969702d90a2596601",
              "organization_name": "Arnold Worldwide",
              "raw_address": null,
              "start_date": "2009-01-01",
              "title": "intern",
              "updated_at": null,
              "id": "687bc0e2dad80d000182a636",
              "key": "687bc0e2dad80d000182a636"
            },
            {
              "_id": "687bc0e2dad80d000182a637",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2007-04-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "54a129f469702dab37e9f601",
              "organization_name": "Utah Grizzlies",
              "raw_address": null,
              "start_date": "2007-01-01",
              "title": "Intern",
              "updated_at": null,
              "id": "687bc0e2dad80d000182a637",
              "key": "687bc0e2dad80d000182a637"
            }
          ],
          "state": "Georgia",
          "city": "Atlanta",
          "country": "United States",
          "organization": {
            "id": "61cae9d609713800dad7a82b",
            "name": "quench agency",
            "website_url": "http://www.quenchagency.com",
            "blog_url": null,
            "angellist_url": null,
            "linkedin_url": "http://www.linkedin.com/company/quench-agency",
            "twitter_url": "https://twitter.com/quenchagency",
            "facebook_url": null,
            "primary_phone": {
              "number": "+1 717-909-9524",
              "source": "Owler",
              "sanitized_number": "+17179099524"
            },
            "languages": [],
            "alexa_ranking": null,
            "phone": "+1 717-909-9524",
            "linkedin_uid": "3584350",
            "founded_year": 2014,
            "publicly_traded_symbol": null,
            "publicly_traded_exchange": null,
            "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/686f4bbe30ce180001e7bb5b/picture",
            "crunchbase_url": null,
            "primary_domain": "quenchagency.com",
            "sic_codes": [
              "7311"
            ],
            "naics_codes": [
              "54181"
            ],
            "sanitized_phone": "+17179099524",
            "organization_headcount_six_month_growth": 0.0625,
            "organization_headcount_twelve_month_growth": 0,
            "organization_headcount_twenty_four_month_growth": 0
          },
          "departments": [
            "design"
          ],
          "subdepartments": [
            "all_design"
          ],
          "seniority": "director",
          "functions": [],
          "intent_strength": null,
          "show_intent": true,
          "email_domain_catchall": false,
          "revealed_for_current_team": true
        }
      },
      {
        "json": {
          "id": "5e7acba3ca38fa00015ee2cc",
          "first_name": "Katie",
          "last_name": "Baird",
          "name": "Katie Baird",
          "linkedin_url": "http://www.linkedin.com/in/katie-baird-82aa60184",
          "title": "Creative Director",
          "email_status": "verified",
          "photo_url": "https://media.licdn.com/dms/image/v2/C4D03AQGoCuHhPqOLeQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1647458938966?e=2147483647&v=beta&t=TwrKGbRymn-Pil_q2crFgj_lRK4VoCrsdos66sB6VpE",
          "twitter_url": null,
          "github_url": null,
          "facebook_url": null,
          "extrapolated_email_confidence": null,
          "headline": "Creative Director",
          "email": null,
          "organization_id": "5569a41573696425bc3f6f00",
          "employment_history": [
            {
              "_id": "6878d7715834220001bd09be",
              "created_at": null,
              "current": true,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": null,
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5569a41573696425bc3f6f00",
              "organization_name": "WaterWerks Agency",
              "raw_address": null,
              "start_date": "2021-08-01",
              "title": "Creative Director",
              "updated_at": null,
              "id": "6878d7715834220001bd09be",
              "key": "6878d7715834220001bd09be"
            },
            {
              "_id": "6878d7715834220001bd09bf",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2021-08-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5569a41573696425bc3f6f00",
              "organization_name": "WaterWerks Agency",
              "raw_address": null,
              "start_date": "2020-08-01",
              "title": "Art Director",
              "updated_at": null,
              "id": "6878d7715834220001bd09bf",
              "key": "6878d7715834220001bd09bf"
            },
            {
              "_id": "6878d7715834220001bd09c0",
              "created_at": null,
              "current": false,
              "degree": null,
              "description": null,
              "emails": null,
              "end_date": "2020-08-01",
              "grade_level": null,
              "kind": null,
              "major": null,
              "organization_id": "5569a41573696425bc3f6f00",
              "organization_name": "WaterWerks Agency",
              "raw_address": null,
              "start_date": "2019-04-01",
              "title": "Designer",
              "updated_at": null,
              "id": "6878d7715834220001bd09c0",
              "key": "6878d7715834220001bd09c0"
            }
          ],
          "state": "Florida",
          "city": "Saint Johns",
          "country": "United States",
          "organization": {
            "id": "5569a41573696425bc3f6f00",
            "name": "WaterWerks Agency",
            "website_url": "http://www.waterwerks.agency",
            "blog_url": null,
            "angellist_url": null,
            "linkedin_url": "http://www.linkedin.com/company/waterwerks-agency",
            "twitter_url": null,
            "facebook_url": "https://facebook.com/waterwerks",
            "primary_phone": {
              "number": "+1 709-738-5090",
              "source": "Scraped",
              "sanitized_number": "+17097385090"
            },
            "languages": [
              "English"
            ],
            "alexa_ranking": null,
            "phone": "+1 709-738-5090",
            "linkedin_uid": "3049859",
            "founded_year": 2000,
            "publicly_traded_symbol": null,
            "publicly_traded_exchange": null,
            "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/684164f94cd42000013e838e/picture",
            "crunchbase_url": null,
            "primary_domain": "waterwerks.agency",
            "sic_codes": [
              "7375"
            ],
            "naics_codes": [
              "54181"
            ],
            "sanitized_phone": "+17097385090",
            "organization_headcount_six_month_growth": 0.09090909090909091,
            "organization_headcount_twelve_month_growth": 0.2,
            "organization_headcount_twenty_four_month_growth": -0.1428571428571428
          },
          "departments": [
            "design"
          ],
          "subdepartments": [
            "all_design"
          ],
          "seniority": "director",
          "functions": [],
          "intent_strength": null,
          "show_intent": true,
          "email_domain_catchall": false,
          "revealed_for_current_team": true
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b3e4d73e-f577-4f2a-b0a9-2e3aaea1d312",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fa369504e5679297e685f40d4a45be52659312dea6cb88f6095ac4d6144bd19c"
  },
  "id": "UZQSMiKAaKgGCoLz",
  "tags": []
}